spring-Web-services-master-In28Minutes/03-Soap-Web-Services/soap-loan-eligibility-client/src/main/resources/wsdl/loan-eligibility.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl" xmlns:sch="http://www.javatechie.com/soap/loan-eligibility" 
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 	
xmlns:tns="http://www.javatechie.com/soap/loan-eligibility"
targetNamespace="http://www.javatechie.com/soap/loan-eligibility">

	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.javatechie.com/soap/loan-eligibility">
			<xs:element name="CustomerRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="customerName" type="xs:string" />
						<xs:element name="age" type="xs:int" />
						<xs:element name="yearlyIncome" type="xs:long" />
						<xs:element name="cibilScore" type="xs:int" />
						<xs:element name="employmentMode" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AcknowledgementResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="isEligible" type="xs:boolean" />
						<xs:element name="approvedAmount" type="xs:long" />
						<xs:element maxOccurs="unbounded"
							name="criteriaMismatch" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="AcknowledgementResponse">
		<wsdl:part element="tns:AcknowledgementResponse"
			name="AcknowledgementResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="CustomerRequest">
		<wsdl:part element="tns:CustomerRequest"
			name="CustomerRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="LoanEligibilityIndicator">
		<wsdl:operation name="Acknowledgement">
			<wsdl:output message="tns:AcknowledgementResponse"
				name="AcknowledgementResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Customer">
			<wsdl:input message="tns:CustomerRequest"
				name="CustomerRequest">
			</wsdl:input>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="LoanEligibilityIndicatorSoap11"
		type="tns:LoanEligibilityIndicator">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Acknowledgement">
			<soap:operation soapAction="" />
			<wsdl:output name="AcknowledgementResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Customer">
			<soap:operation soapAction="" />
			<wsdl:input name="CustomerRequest">
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="LoanEligibilityIndicatorService">
		<wsdl:port binding="tns:LoanEligibilityIndicatorSoap11"
			name="LoanEligibilityIndicatorSoap11">
			<soap:address location="http://localhost:8080/ws" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>